<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <script type="text/javascript" type="text/js" src="bundle.js"></script>
  <meta charset="utf-8">
  <title>Example App</title>
</head>
<body>
    {{{ body }}}
</body>
</html>