<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Skill Bank</title>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles/normalize.css">
  <link rel="stylesheet" href="/styles/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/styles/main.css">
  <link rel="icon" type="image/png" href="./favicon.png">

  <script type="text/javascript" type="text/js" src="bundle.js"></script>
</head>
<body>
  <header>
    <h1>Skill Bank</h1>
  </header>
  {{{ body }}}
  <footer>
    <h1>copyright</h1>
  </footer>
</body>
</html>
